.page-matters
	.row-container
		.row-content
			.row
				.col-1of4.col-mobile-1of1
					.col-1of1
						.col-1of2
							.col-content
								.btn-BGXZ(id='btn_bgxz') 表格下载
						.col-1of2
							.col-content
								.btn-YKSL(id='btn_yksl') 一口受理
					.col-1of1
						.col-content
							.box-title(id='list_rmsx')
								.box-title-text 热门事项
								.box-title-arrow-down(id='list_rmsx_arrow')
							.box-content.mobile-hidden(id='list_rmsx_content')
						.col-content
							.box-title(id='list_kstd')
								.box-title-text 快速通道
								.box-title-arrow-down(id='list_kstd_arrow')
							.box-content.mobile-hidden(id='list_kstd_content')
				.col-3of4.col-mobile-1of1
					.col-content
						div(id='matter_guide')