.sitelogo
.map-container
	.map-content
		.map-area
			.map-pin-left(style = 'left: 1292px; top: 427px' data-mappin='bus-stop-1') 
				.map-pin-left-title 创业大厦站
					span &nbsp;点击看详情
			.map-pin-left(style = 'left: 1164px; top: 564px' data-mappin='bus-stop-2') 
				.map-pin-left-title 创业大厦站
					span &nbsp;点击看详情
			.map-pin-right(style = 'left: 710px; top: 514px' data-mappin='enter-hall') 
				.map-pin-right-title 点此进入高新区政务办理大厅
.map-mobile-hint
.businfo(data-businfo = 'bus-info-1')
.businfo(data-businfo = 'bus-info-2')
