.map-container
	.map-content
		.map-area
			.map-pin-left(style = 'left: 1297px; top: 424px' data-mappin='bus-stop-1') 
				.map-pin-left-title 创业大厦站
					span &nbsp;点击了解详情
			.map-pin-left(style = 'left: 1164px; top: 564px' data-mappin='bus-stop-2') 
				.map-pin-left-title 创业大厦站
					span &nbsp;点击了解详情
			.map-pin-right(style = 'left: 710px; top: 514px' data-mappin='enter-hall') 
				.map-pin-right-title 点击进入高新区政务办理大厅
