.map-container.hall-bg
	.map-content
		.hall-area.hall-f1(id='f1')
		.hall-area.hall-f2(id='f2')
.map-mobile-hint
.hall-btn.hall-btn-return(id='btn_return') 返回
	.arrow-return
.hall-btn.hall-btn-f1(id='btn_f1') 一楼
.hall-btn.hall-btn-f2(id='btn_f2') 二楼
.floor-indicator