if type == 'selected'
	.matter-head.sel
		.matter-head-number= mData.getLevel()+1
		.matter-head-text name
		.matter-head-tail
		.dotted-vline
		.btn-reselect 重选
if type == 'end'
	.matter-head
		.matter-head-number= mData.getLevel()+1
		.matter-head-text 请从以下分类中选择
		.matter-head-tail
		.dotted-vline
	.matter-infobox
		.matter-infobox-corner
		.matter-infobox-content
			.row
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我要开办公司
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我要办理外商投资企业
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我要变更公司
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我要更换印章
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我要增资减资
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我的证件遗失
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我要注销企业
				.col-1of4.suit-mobile
					.col-content
						.btn-select-matter 我想了解个体商户