if type == 'selected'
	.matter-head.sel
		.matter-head-number= mNode.getLevel()+1
		.matter-head-text(id = 'title_'+s_url)
		.matter-head-tail
		.dotted-vline
		a.btn-reselect(href='#!/matters/'+s_url) 重选
if type == 'end'
	.matter-head
		.matter-head-number= mNode.getLevel()+1
		.matter-head-text(id = 'title_'+s_url)
		.matter-head-tail
		.dotted-vline
	.matter-infobox(id = 'info_'+s_url)
		