@require './normalised'

//colors
SILVER_GRAY = #f5f5f5
OCEAN_BLUE = #0c80e8
OCEAN_BLUE_DARKEN = #0070d8


//media query
MOBILE = '(max-width: 479px)'
TABLET = '(min-width: 480px) and (max-width: 930px)'
SMALL = '(max-width: 930px)'
WIDER = '(min-width: 1200px)'
RETINA = '(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi)'
