@require '../normalised'
@require '../global'
@require '../common'

body
	background #f5f5f5

.main
	position absolute
	width 100%
	height auto
	display block
	overflow hidden
	top 0
	bottom 74px
	left 0
	right 0
	background #f0f0f0

// Components
@require '../../components/nav'
@require '../../components/map-nav'


// Pages
@require '../../components/page-home'
@require '../../components/page-matters'