@require '../normalised'
@require '../common'

// z-index management
ZI_nav = 100
ZI_main = 99
ZI_map_nav = 1
ZI_sitelogo = 2
ZI_bus_list_bg = 3
ZI_bus_list = 4

// Layout prefix
NAV_HEIGHT = 82px

body
	background #f5f5f5

.main
	position absolute
	width 100%
	height auto
	display block
	overflow hidden
	top 0
	bottom NAV_HEIGHT + 2
	left 0
	right 0
	z-index ZI_main
	background #f0f0f0
	@media MOBILE
		bottom NAV_HEIGHT - 9

// Components
@require '../../components/nav'
@require '../../components/map-nav'
@require '../../components/map-hall'
@require '../../components/map-hall-btn'
@require '../../components/map-hall-floor'
@require '../../components/bus-list'
@require '../../components/matter-list'
@require '../../components/matter-guide'
@require '../../components/matter-guide-node'
@require '../../components/matter-guide-node-table'
@require '../../components/table-download'
@require '../../components/table-materials'


// Pages
@require '../../components/page-home'
@require '../../components/page-matters'
@require '../../components/page-hall'