@require '../normalised'
@require '../global'
@require '../common'

// z-index management
ZI_nav = 100
ZI_main = 99
ZI_map_nav = 1
ZI_sitelogo = 2

body
	background #f5f5f5

.main
	position absolute
	width 100%
	height auto
	display block
	overflow hidden
	top 0
	bottom 84px
	left 0
	right 0
	z-index ZI_main
	background #f0f0f0

// Components
@require '../../components/nav'
@require '../../components/map-nav'
@require '../../components/sitelogo'


// Pages
@require '../../components/page-home'
@require '../../components/page-matters'