.map-hall-btn
	position absolute
	left 0
	top 0
	width 30px
	height 30px
	overflow visible
	display block
	.map-pin-left
		bottom 30px
		left 15px
		display none
.mhb-up
	background-image url('img/hallbtn-up-normal.png')
	@media RETINA
		background-image url('img/hallbtn-up-normal@2x.png')
		background-size 100%
.mhb-up.sel
	background-image url('img/hallbtn-up-sel.png')
	@media RETINA
		background-image url('img/hallbtn-up-sel@2x.png')
		background-size 100%
.mhb-down
	background-image url('img/hallbtn-down-normal.png')
	@media RETINA
		background-image url('img/hallbtn-down-normal@2x.png')
		background-size 100%
.mhb-down.sel
	background-image url('img/hallbtn-down-sel.png')
	@media RETINA
		background-image url('img/hallbtn-down-sel@2x.png')
		background-size 100%
.sel
	.map-pin-left
		display block