ul.ulist
	width auto
	height auto
	li
		width 100%
		height auto
		border-bottom 1px dotted GRAY_E3
		.ulist-content
			width 100%
			font-size 14px
			text-indent 20px
			color lighten(BLACK_GRAY,20%)
			line-height 34px
			display block
			text-decoration none
			position relative
			&:hover
				background-color #ffffff
				color BLACK_GRAY
				@media MOBILE
					background-color transparent
					color lighten(BLACK_GRAY,20%)
			.ulist-dot
				position absolute
				width 2px
				height 2px
				left 13px
				top 16px
				background-color lighten(BLACK_GRAY,20%)

	.last-li
		border-bottom none
