.matter-infobox-corner
.matter-infobox-content
	.row
		- var btns = collection.models
		for btn, i in btns
			.col-1of4.suit-mobile
				.col-content
					if(btn.getType() == 'list' || btn.getType() == 'table')
						a.btn-select-matter(href = '#!/matters/' + btn.getUrl().slice(5,-5))= btn.getName()
					if(btn.getType() == 'link')
						a.btn-select-matter(href = btn.getUrl() target = '_blank')= btn.getName()
