.sitelogo
	position absolute
	left 20px
	top 20px
	width 180px
	height 58px
	background-image url('img/logo.png')
	background-repeat no-repeat
	z-index ZI_sitelogo
	@media RETINA
			background-image url('img/logo@2x.png')
			background-size 100%