ul
	li(data-nav='wsbs')
		.nav-sel
		.nav-icon.nav-icon-1
		.nav-text 网上办事
	li(data-nav='lslp')
		.nav-sel
		.nav-icon.nav-icon-2
		.nav-text 联审联批
		.nav-sub
	li(data-nav='home')
		.nav-sel
		.nav-icon.nav-icon-3
		.nav-text 场景导航
	li(data-nav='matters')
		.nav-sel
		.nav-icon.nav-icon-4
		.nav-text 办事导航
	li(data-nav='hdjl')
		.nav-sel
		.nav-icon.nav-icon-5
		.nav-text 互动交流
