.nav
	position absolute
	display block
	height NAV_HEIGHT
	width 100%
	left 0
	right 0
	bottom 0
	z-index ZI_nav
	background-color OCEAN_BLUE
	border-top 2px solid #ffffff
	ul
		display block
		margin 0 auto
		width 556px
		padding 0px
		@media WIDER
			width 806px
		@media MOBILE
			width 100%
			margin 0
		li
			display block
			float left
			width 110px
			height NAV_HEIGHT
			background-color OCEAN_BLUE
			border-left 1px solid OCEAN_BLUE_DARKEN
			border-right 1px solid OCEAN_BLUE_DARKEN
			margin-left -1px
			position relative
			cursor pointer
			transition(all 0.2s ease-in-out)
			&:hover
				background-color lighten(OCEAN_BLUE, 15%)
			&.sel
				background-color OCEAN_BLUE_DARKEN !important
				cursor default
			@media WIDER
				width 160px
			@media MOBILE
				width 20%
				border none
				margin 0
				&:hover
					background-color OCEAN_BLUE
			.nav-icon
				width 32px
				height 32px
				margin 0 auto
				margin-top 15px
				background-position center center
				background-repeat no-repeat
			.nav-icon-1
				background-image url('img/menu-icon-1.png')
				@media RETINA
					background-image url('img/menu-icon-1@2x.png')
					background-size 100%
			.nav-icon-2
				background-image url('img/menu-icon-2.png')
				@media RETINA
					background-image url('img/menu-icon-2@2x.png')
					background-size 100%
			.nav-icon-3
				background-image url('img/menu-icon-3.png')
				@media RETINA
					background-image url('img/menu-icon-3@2x.png')
					background-size 100%
			.nav-icon-4
				background-image url('img/menu-icon-4.png')
				@media RETINA
					background-image url('img/menu-icon-4@2x.png')
					background-size 100%
			.nav-icon-5
				background-image url('img/menu-icon-5.png')
				@media RETINA
					background-image url('img/menu-icon-5@2x.png')
					background-size 100%
			.nav-text
				width 100%
				line-height 22px
				color #ffffff
				font-size 14px
				text-align center
				@media MOBILE
					font-size 12px
			.nav-sub
				display none
				position absolute
				width 170px
				height auto
				background-color transparent
				bottom NAV_HEIGHT
				left 50%
				margin-left -85px
				padding-bottom 10px
				position absolute
				.nav-sub-btn
					display block
					height 40px
					line-height 40px
					color #ffffff
					font-size 14px
					width 100%
					text-align center
					text-decoration none
					background OCEAN_BLUE
					border-bottom 1px solid OCEAN_BLUE_DARKEN
					&:hover
						background OCEAN_BLUE_DARKEN
				.nav-sub-arrow
					position absolute
					width 10px
					height 5px
					display block
					bottom 5px
					left 50%
					margin-left -5px
					background-image url('img/nav-sub-sel.png')
					background-repeat no-repeat
					background-position center top
					@media RETINA
						background-image url('img/nav-sub-sel@2x.png')
						background-size 100%
			.nav-sel
				position absolute
				width 10px
				height 0px
				display block
				bottom NAV_HEIGHT
				left 50%
				margin-left -5px
				background-image url('img/nav-sel.png')
				background-repeat no-repeat
				background-position center bottom
				transition(all 0.2s ease-in-out)
				@media RETINA
					background-image url('img/nav-sel@2x.png')
					background-size 100%
		.sel
			.nav-sel
				height 5px
				bottom NAV_HEIGHT - 5





